// ============================================================================================= //
//                                           FUNCTIONS                                           //
// ============================================================================================= //

@use "sass:list";
@use "sass:math";
@use "sass:meta";
@use "~@sass-collective/strip-unit";

@function em($values, $context) {
    $result: ();

    @each $value in $values {
        @if strip-unit.strip-unit($value) == 0 {
            $result: list.append($result, strip-unit.strip-unit($value));
        } @else {
            $result: list.append($result, (strip-unit.strip-unit($value) / strip-unit.strip-unit($context)) * 1em);
        }
    }

    @return $result;
}
